.lightbox {
  position: fixed;
  top: 25px; left: 160px;
  width: 90%; height: 90%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox.hidden {
  display: none;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

#lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 2px;
}

.close {
  position: absolute;
  top: 5px;
  right: 140px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 0 20px;
}

.prev { left: -60px; }
.next { left: 1075px; }

@media (max-width: 600px) {
  .prev, .next {
    font-size: 35px;
    padding: 0 10px;
    left: -40px;
    right: -40px;
  }
}


