@font-face {
    font-family: pigeon;
    src: url(./Pigeon.otf);
}

body {
    background-color: black;
    color: white;
   font-family: pigeon;
   margin-left: 600px;
   margin-top: 300px;
   overflow-x: hidden;
  }

   img {
        display: block;
        margin-left: 80px;
        margin-top: -180px;
    }

 @media only screen and (max-width: 900px)


 {

    h1 {

        margin-left: -60vw ;
    }

    img{
        margin-left: -45vw;
    }



 }